/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Asterisk wildcard to override browsers default settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", Verdana, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}

h1 {
  text-transform: uppercase;
}

/* Header */
header {
  background-color: #f2e4dc;
  padding: 0 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 2px #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header > div {
  display: inline-block;
  padding: 0 1px;
}

#logo-image {
  height: 3rem;
}

#logo {
  margin-top: 0.5rem;
}

header a,
aside a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header ul > li {
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

/* To make the text be aligned in the middle on the y axis with the logo*/
#logo-text {
  position: relative;
  bottom: 16px;
}

/* Marks the active web page */
.active {
  border-bottom: 1px solid #0d0d0d;
}

/* Navbar styles with dropdown toggle */
#menu {
  position: absolute;
  background-color: #f2e4dc;
  width: 100%;
  box-shadow: 0 2px 2px #0d0d0d;
  padding: 0 1rem;
  left: 0;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
  /* To align the toggle with the text on the header */
  position: relative;
  bottom: 16px;
}

.nav-toggle-label {
  position: relative;
  bottom: 16px;
  color: #0d0d0d;
}

/* Main content */
main {
  flex: 1 0 auto;
  background-color: #f2e4dc;
  color: #0d0d0d;
  margin-top: 61.5px;
}

/* The hero section */
#hero-image {
  background-image: url("../images/barra-beach.jpg");
  /* Fallback color - if the image doesn't load */
  background-color: #023859;
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  position: absolute;
  bottom: 20px;
  padding-right: 10px;
  width: 66.66%;
  right: 2px;
}

#hero-text > h2 {
  color: #f2e4dc;
  text-align: right;
}

/* Reasons section */
#reasons {
  background-color: #f2e4dc;
}

#reasons > h2 {
  margin: 20px 5px;
  text-align: center;
}

#advantages-group {
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  margin: 0 5px 15px 5px;
}

.adv-heading {
  text-align: center;
  margin-bottom: 10px;
}

#reasons p {
  text-align: center;
}

.advantages {
  border-radius: 5px;
  padding: 20px 10px 15px 10px;
  max-width: 500px;
  flex: 1 1 300px;
  margin-top: 30px;
  position: relative;
  border: 2px outset gray;
}

.thumbnails {
  position: absolute;
  top: -35px;
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 2;
  border: 2px solid gray;
}

.left-aligned {
  left: 5px;
}

.right-aligned {
  right: 5px;
}

#googlemaps {
  margin-top: 30px;
}

#accommodation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  background-color: #023859;
  background-size: cover;
  background-position: 80%;
  padding: 20px 20px 20px 20px;
  
}

.one-room-collection {
  flex: 500px;
  color: #f2e4dc;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.accommodation-photos {
  max-width: 100%;
  border-radius: 5px;
}

#accommodation h2 {
  margin: 5px;
  padding: 5px;
}

#bedroom {
  order: 1;
}

#livroom {
  order: 2;
}

#kitchen {
  order: 3;
}

#balcony {
  order: 4;
}

aside > p {
  margin: 20px 5px;
}

#accommodation-aside  {
  color: #f2e4dc;
}

#faq {
  text-align: justify;
  margin: 1rem;
}

#faq h2 {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
}

#faq h3 {
  margin-bottom: 5px;
  padding-top: 5px;
}

#contact {
  background-color: #023859;
  background-size: cover;
  background-position: 75%;
  padding: 20px 10% 20px 10%;
  flex-grow: 1;
}

#contact-form {
  color: #f2e4dc;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  border-radius: 5px;
}

#contact-form > h2 {
  color: #f2e4dc;
  margin-bottom: 20px;
}

.form {
  background:#f2e4dc;
  font-family: inherit;
  color: #f2e4dc;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #f2e4dc;
  border-radius: 5px;
  padding: 0 5px;
}

textarea {
  background:#f2e4dc;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.button {
  font-family: inherit;
  margin: 20px 20px 0 0;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #023859;
  color: #f2e4dc;
}

#reset{
  background-color: #f2e4dc;
  color: #023859;
}



#contact-aside {
  text-align: center;
  color: #f2e4dc;
  margin: 30px 5px 10px;
}

.bottom-aligned > div {
  bottom: 0;
  padding: 2rem;
}

.blue-bg {
  background-color: #023859;
  background-size: cover;
}

/* Footer */
footer {
  background-color: #0d0d0d;
  color: #f2e4dc;
}

#footer-links {
  padding: 16px 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-links i,
#footer-links a {
  color: #f2e4dc;
  text-decoration: none;
}

/* Media query for small mobiles (from 250px up to 350px) */
@media screen and (min-width: 250px) and (max-width: 350px) {
  * {
    font-size: 95%;
  }

  h1 {
    font-size: 150%;
  }

  h2,
  h3 {
    font-size: 130%;
  }
}

/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    height: 78px;
    /* Makes logo and logo text align on the left while nav menu aligns on the right */
    justify-content: flex-start;
    gap: 1.5%;
    flex: 0 0 auto;
  }

  h1 {
    font-size: 150%;
  }

  #menu-nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
  }

  /* Make menu always visible to better use horizoltal space */
  #menu {
    position: relative;
    bottom: 16px;
    width: fit-content;
    padding-right: 1rem;
    box-shadow: none;
    display: block;
  }

  /* To make menu items show side by side */
  #menu-items {
    display: flex;
  }

  #menu-items > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo-image {
    height: 4rem;
  }
  /* To make main visible under the fixed header */
  main {
    margin-top: 78px;
  }

  /* Reasons section */
  .thumbnails {
    left: 5px;
    height: 65px;
    width: 65px;
  }

  #reasons p {
    text-align: center;
  }

  
/*Media query for laptop and larger (from 992px and larger*/
@media screen and (min-width: 992px) {
  #menu-items > li {
    padding-left: 1.5rem;
  }

  #menu-items a:hover {
    border-bottom: 1px solid #0d0d0d;
  }

  .form:hover, textarea:hover {
    border: 2px solid #023859;
  }

  #submit:hover {
    background-color: #f2e4dc;
    color: #023859;
  }
  #reset:hover {
    background-color: #023859;
    color: #f2e4dc;
  }
}


}

/* Media query for very large screens larger than 1408px */
@media screen and (min-width: 1500px) {
  #hero-image {
    height: 1000px;
  }
  .advantages {
    max-width: 700px;
  }
}
