/* Asterisk wildcard to override browsers default settings */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #F2E4DC;
}

/* Main content */
main {
    background-color: #023859;
    flex: 1 0 auto;
    color: #F2E4DC;
}

/* Footer */
footer {
    background-color: #0D0D0D;
    color: #F2E4DC;
}
