/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Comfortaa:wght@300;400;500;600;700&family=Lobster+Two&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Salsa&display=swap");
/* Asterisk wildcard to override browsers default settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  font-family: Raleway, Arial, sans-serif;
}

/* Header */
header {
  background-color: #f2e4dc;
  padding: 0 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 2px #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header > div {
  display: inline-block;
  padding: 0 1px;
}

h1 {
  font-family: "Alata", Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
}

#logo-image {
  height: 3rem;
}

#logo {
  margin-top: 0.5rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header ul > li {
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-size: 80%;
}

/* To make the text be aligned in the middle on the y axis with the logo*/
#logo-text {
  position: relative;
  bottom: 16px;
}

/* Marks the active web page */
.active {
  border-bottom: 1px solid #0d0d0d;
}

/* Navbar styles with dropdown toggle */
#menu {
  position: absolute;
  background-color: #f2e4dc;
  width: 100%;
  box-shadow: 0 2px 2px #0d0d0d;
  padding: 0 1rem;
  left: 0;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
  /* To align the toggle with the text on the header */
  position: relative;
  bottom: 16px;
}

.nav-toggle-label {
  font-size: 1.5rem;
  position: relative;
  bottom: 16px;
  color: #0d0d0d;
}

/* Main content */
main {
  background-color: #023859;
  flex: 1 0 auto;
  color: #f2e4dc;
  margin-top: 61.5px;
}

/* Footer */
footer {
  background-color: #0d0d0d;
  color: #f2e4dc;
}

#footer-links {
  padding: 16px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 75%;
}

/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    height: 78px;
    /* Makes logo and logo text align on the left while nav menu aligns on the right */
    justify-content: flex-start;
    gap: 1.5%;
    flex: 0 0 auto;
  }

  #menu-nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
  }

  /* Make menu always visible to better use horizoltal space */
  #menu {
    position: relative;
    bottom: 16px;
    width: fit-content;
    padding-right: 1rem;
    box-shadow: none;
    display: block;
    font-size: 120%;
  }

  /* To make menu items show side by side */
  #menu-items {
    display: flex;
  }

  #menu-items > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo-text {
    font-size: 180%;
  }

  #logo-image {
    height: 4rem;
  }
/* To make main visible under the fixed header */
  main {
    margin-top: 78px;
  }
}

#footer-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 100%;
}

/*Media query for laptop and larger (from 992px and larger*/
@media screen and (min-width: 992px) {
  /* Header */
  /* Make menu always visible to better use horizoltal space */
  #menu {
    font-size: 150%;
  }

  #menu-items > li {
    padding-left: 1.5rem;
  }

  #menu-items a:hover {
    border-bottom: 1px solid #0d0d0d;
  }

  #logo-text {
    font-size: 210%;
  }

  #footer-links {
    font-size: 150%;
  }
}
